@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Changa:wght@500&family=Squada+One&display=swap');

@layer base {
    body {
        @apply font-[Changa];
        @apply bg-black;
    }
    li{
        @apply px-4;
        @apply text-white;
        @apply cursor-pointer
       
    }
    li:hover{
        @apply border-4; 
        @apply border-white; 
        @apply bg-white;
        @apply text-black
     
        
    }

}

.content-div{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 400px;
}

.content-div:hover {
    opacity: .5!important;
}
.navBar{
    border-bottom: solid .2rem;
    border-image: linear-gradient(to left, #743ad5, #d53a9d) 1;

}
