@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Changa:wght@500&family=Squada+One&display=swap');

@layer base {
    body {
        @apply font-[Changa];
        @apply bg-slate-900;
    }
    li{
        @apply px-4;
        @apply text-slate-400;
        @apply cursor-pointer
    }
    li:hover{
        @apply text-white
       
    }
   

}


.icons-footer{
    font-size: 40px;
    color: grey;
    
}

.linkedin:hover{
    font-size: 43px;
    transition: .05s;
    color: white;
}

.github:hover{
    font-size: 43px;
    transition: .05s;
    color: white;
}
.google:hover{
    font-size: 43px;
    transition: .05s;
    color: white;
}
.resume:hover{
    font-size: 43px;
    transition: .05s;
    color: white;
}


.content-div{
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 400px;
}

.content-div:hover {
    transition: .3s;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 400px;
    opacity: .5;
}

.navBar{
    border-bottom: solid .2rem;
    border-image: linear-gradient(to left, #743ad5, #d53a9d) 1;
}

.home-bg{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@media screen and (max-width: 850px) {
    .content-div{
    
        background-repeat: no-repeat;
        background-size: cover;
        background-size: 100% 100%;
        background-position: center;
        height: 400px;
    }

    .content-div:hover{
        background-size: 100% 100%;
    }
}